name: Build and Test

on:
  push:
    branches: [main, develop]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Print Node version
        run: node -v

      #Create artifact file
      - name: Create artifact
        run: echo "Build output from Node ${{ matrix.node-version }}" > output.txt

      #Upload artifact
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-output-${{ matrix.node-version }}
          path: output.txt

  #New Job That Depends on build-and-test
  download-artifact:
    name: Download Artifact
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: build-output-20.x   # Download one specific artifact

      - name: Show artifact content
        run: cat output.txt
